[Unit]
Description=Setting GPU Fan Speed
After=network.target	

[Service]
User=gpuservice
ExecStart=/nvezos/scripts/gpu/fan.sh
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=multi-user.target

