[Unit]
Description=Setting GPU OC
After=network.target	

[Service]
User=gpuservice
ExecStart=/nvezos/scripts/gpu/oc.sh
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=multi-user.target

