[Unit]
Description=Miner 5
After=network.target

[Service]
User=www-data
ExecStart=/nvezos/scripts/miners/miner5.sh

[Install]
WantedBy=multi-user.target

