[Unit]
Description=Dev Miner
After=network.target

[Service]
User=www-data
ExecStart=/nvezos/scripts/miners/minerdev.sh

[Install]
WantedBy=multi-user.target

