[Unit]
Description=Miner 10
After=network.target

[Service]
User=www-data
ExecStart=/nvezos/scripts/miners/miner10.sh

[Install]
WantedBy=multi-user.target

