[Unit]
Description=Miner 3
After=network.target

[Service]
User=www-data
ExecStart=/nvezos/scripts/miners/miner3.sh

[Install]
WantedBy=multi-user.target

