[Unit]
Description=Init Script - Run once
After=network.target	

[Service]
User=root
ExecStart=/nvezos/scripts/system/runonce.sh
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=multi-user.target

